<h1>Add a new item</h1>
<form action ="/">
  <label for="first">Link URL</label>
  <input id="first" type="text" name="Link" placeholder="Enter a URL...">
  <br>
  <label for="second">Link Description</label>
  <input id="second" type="text" name="Description" placeholder="Enter a link description...">
  <br>
  <label for="third">Thumbnail URL</label>
  <input id="third" type="text" name="Image" placeholder="Enter a thumbnail URL...">
  <br>
    <button>Create item</button>
</form>
